* {
    box-sizing: border-box;
  }
  body {
    background: #abbaab;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #ffffff, #abbaab);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #ffffff, #abbaab); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


  }
  
  input[type=text], input[type=password] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }
  
  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  }
  
  input[type=submit] {
    background-color: #4CAF50;
    color: white;
    width: 30%;
    padding: 2%;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 40%;
    margin-top: 5%;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  .container {
    width: 60%;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 2%;
    margin: auto;
    margin-top: 10%;
    box-shadow: 0px 0px 4px #f2f2f2;
  }
  .form-heading {
      width: 100%;
      margin-left: 45%;
      color: red;
      font-size: 1.5em;
  }
  .col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
  }
  
  .col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  p {
      float: left;
  }
  a {
      float: left;
      text-decoration: none;
      display: block;
      margin: 7px;
      padding: 10px;
      border-radius: 5px;
      color: black;
  }
  a:hover {
      background-color: red;
      color: white;
  }
  
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 700px) {
    .col-25, .col-75, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
    input[type=submit] {
      width: 30%;
      padding: 2%;
      margin-left: 30%;
      margin-top: 10%;
    }
    .login-page {
      width: 90%;
      margin: auto;
      font-size: 0.9em;
    }
    .container {
      width: 90%;
      padding: 2%;
      margin: auto;
      margin-top: 5%;
    }

  }